/* * {
  padding: 2px;
  margin: 5px;
} */
header, nav, main, footer {
  margin: 2px;
}

header {
  background-color: #777777;
  min-height: 100px;

}
main {
  display: flex;
}

nav {
  background-color: #808080;
  flex-grow: 1;
  flex-basis: 15%;
}

nav a {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 2px solid currentColor;
}

nav a:hover {
  border: 2px solid #8800CC;
  color: white;
  border-radius: 2px;

}

nav a.active {
  background-color: #333333;
}

section {
  background-color: gray;
  flex-grow: 5;
  flex-basis: 50%;
  border-radius: 0.5em;
}

footer {
  background-color: #666666;
  min-height: 100px;
  text-align: center;
}
